body{
    background-color: black;
}

header, footer{
    background-image: url("../image/nuage.jpg");
    color: aliceblue;
}

div.conteneur {
    margin: 2% 8% 2% 8%;
    background-image:  url("../image/eau.jpg") ;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: aliceblue;
}