div:only-of-type{
    margin: auto;
    width: 60%;
    border: 1px solid black;
}

div div{
    display: inline-block;
    position: relative;
}



img{
    width: 100px;
}

img+a{
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgb(145, 30, 59);
    color: white;
    font-size: smaller;
    display: none;

}

div div:hover{
    border: 1px solid black;
}

div div:hover a{
    display: block;
}




