#pos_static {
    position: static;
}

#pos_relative {
    position: relative;
    top : 20px;
    left: 30px;
}

#pos_absolute {
    position: absolute;
    bottom: 0px;
    width: 50%;
}

#pos_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}


