body {
    text-align: center;
}

table{
    width: 300px;
}
table, th, td {
    border: 0px solid black;
  }

thead,tfoot{
    background-color: black;
    color: aliceblue;
    ;
}

thead tr, tbody tr ,tfoot tr{
    display: table;
    table-layout: auto;
    width: auto;
    text-align: center
}

tbody {
    display: block;
    height: 100px;
    overflow: auto;
}