:root {
    width: 80%;
    margin: auto;
}
div>div{
    display: inline-block;
    background-color: blue;
    width: 33%;
    height: 60px;
    vertical-align: top;

}
div{
    text-align: right;
}

div+div{
    text-align: center;
}
div+div+div{
    text-align: left;
}






