






div>div{
    display: inline-block;
    background-color: blue;
    width: 30%;
    height: 60px;

}

div:nth-child(1){
    text-align: right;
}
div:nth-child(2){
    text-align: center;
}
div:nth-child(3){
    text-align: left;
}







