
div>div{
    display: inline-block;
    background-color: blue;
    width: 30%;
    height: 60px;
}
div{
    text-align: right;
}

div+div{
    text-align: center;
}
div+div+div{
    text-align: left;
}






