body {
    width: 80%;
    margin: auto;

}
#circulaire>div {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#circulaire>div>img {
    width: 33%;
    float: left;
}

#circulaire>div a{
    float: right;
}